/* /////////////////////// General /////////////////////// */
*{
    box-sizing: border-box;
  }
body{
    background-color: #EEEEEE;
    font-family: "Noto Sans JP", "calibri", sans-serif;
    margin: 0;
}
p{
    font-family: "Noto Sans JP", "calibri", sans-serif;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Ubuntu", "calibri", sans-serif;
  font-weight: 700;
  color: #004C97;
}
h1 { font-size: 2em; }
h2 { font-size: 1.5em; }
h3 { font-size: 1.17em; }
h4 { font-size: 1.12em; }
h5 { font-size: .83em; }
h6 { font-size: .75em; }
p { font-size: 1em; }
.regular{
    font-weight: 400;
}
.bold{
    font-weight: bold;
}
.centeredText{
    text-align: center;
}

/* /////////////////////// HEADER /////////////////////// */
#logo{
    height: 4rem;
    width: 4rem;
}
.title{
    display: flex;
    align-items: center;
    width: 300px;
}
nav{
    width: 100%;
    border-top: 1px solid lightgray;
    border-bottom: 1px solid lightgray;
    height: 50px;
}
.navlist{
    list-style-type: none;
    display: flex;
    justify-content: center;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}
.navlist li{
    height: 50px;
    width: 125px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    border-left: 1px solid lightgray;
}
.navlist li:last-child{
    border-right: 1px solid lightgray;
}
.navlink{
    text-decoration: none;
}
/* /////////////////////// MAIN /////////////////////// */
.missionstatement{
    margin-top: 1px;
    height: 450px;
    width: 100%;
    background-color: #004C97;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
}
.missionstatement h2{
    margin-top: 0px;
    color: white;
    font-weight: normal;
    font-size: 3.5rem;
    grid-area: 1 / 2 / 1 / 3;
    justify-self: start;
    align-self: end;
}
.missionstatement p{
    color: white;
    grid-area: 2 / 2 / 2 / 4;
    justify-self: center;
    align-self: start;
}



.ourproducts h2{
    font-size: 3.5rem;
    margin-left: 20px;
}
.productscontainer{
    max-width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: row;
}
@media screen and (max-width: 1001px){
    .productscontainer{
        justify-content: center;
    }  
}
.container{
    margin: 5px;
    border: 1px solid lightgray;
}
.container h3{
    border-top: 1px solid lightgray;
    padding-top: 18.7px;
}
.productimage{
    width: 200px;
    height: 200px;
}
