/* /////////////////////// General /////////////////////// */
*{
    box-sizing: border-box;
  }
body{
    background-color: #EEEEEE;
    min-width: 1100px;
    font-family: "Noto Sans JP", "calibri", sans-serif;
}
p{
    font-family: "Noto Sans JP", "calibri", sans-serif;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Ubuntu", "calibri", sans-serif;
  font-weight: 700;
  color: #004C97;
}
h1 { font-size: 2em; }
h2 { font-size: 1.5em; }
h3 { font-size: 1.17em; }
h4 { font-size: 1.12em; }
h5 { font-size: .83em; }
h6 { font-size: .75em; }
p { font-size: 1em; }
.regular{
    font-weight: 400;
}
.bold{
    font-weight: bold;
}
.centeredText{
    text-align: center;
}

/* /////////////////////// HEADER /////////////////////// */
#logo{
    height: 4rem;
    width: 4rem;
}
.title{
    display: flex;
    align-items: center;
    width: 300px;
}
nav{
    border-top: 1px solid lightgray;
    border-bottom: 1px solid lightgray;
    height: 50px;
}
.navlist{
    list-style-type: none;
    display: flex;
    justify-content: center;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}
.navlist li{
    height: 50px;
    width: 125px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    border-left: 1px solid lightgray;
}
.navlist li:last-child{
    border-right: 1px solid lightgray;
}
.navlink{
    text-decoration: none;
}