/* /////////////////////// General /////////////////////// */
*{
    box-sizing: border-box;
  }
body{
    background-color: #EEEEEE;
    min-width: 1100px;
    font-family: "Noto Sans JP", "calibri", sans-serif;
}
p{
    font-family: "Noto Sans JP", "calibri", sans-serif;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Ubuntu", "calibri", sans-serif;
  font-weight: 700;
}
h1 { font-size: 2em; }
h2 { font-size: 1.5em; }
h3 { font-size: 1.17em; }
h4 { font-size: 1.12em; }
h5 { font-size: .83em; }
h6 { font-size: .75em; }
p { font-size: 1em; }
.regular{
    font-weight: 400;
}
.bold{
    font-weight: bold;
}
.centeredText{
    text-align: center;
}